.addTaskButton {
    grid-column: 2/3;
}

.addTaskButton button {
    width: 50%;
    padding: 8px;
    color: midnightblue;
    background-color: white;
    border: 3px solid midnightblue;
    border-radius: 5px;
    cursor: pointer;
}